{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% include "askme/headers.html" %}
</head>
<body>

    {% include "askme/navbar.html" %}

    {% if user.is_authenticated %}

        {% if user.socialaccount_set.all %}
            {% for account in user.socialaccount_set.all %}
                {% if account.provider == "google" %}
                    {% if account.extra_data.picture %}
                    <div class="dropdown">
                        <img src="{{ account.extra_data.picture }}" alt="Profile Picture"  class="profile-pic dropdown-toggle" data-bs-toggle="dropdown">        
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'askme:itineraries' %}">My Itineraries</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

    {% else %}

    {% endif %}


    
    <div class="container cont-center test">

        <div class="container cont-center">
            <div class="container text-center">
              <h4>Hey Buddy, seems like we lost you... can you try again</h4>
            </div>

        </div>
    
    </div>

    <!-- FOOTER -->
    {% include "askme/footer.html" %}

    <script src="{% static 'js/jsfile.js' %}"></script>
</body>
</html>

