{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% include "askme/headers.html" %}
</head>
<body>
  
  {% include "askme/navbar.html" %}


  {% if user.is_authenticated %}

        {% if user.socialaccount_set.all %}
            {% for account in user.socialaccount_set.all %}
                {% if account.provider == "google" %}
                    {% if account.extra_data.picture %}
                    <div class="dropdown">
                        <img src="{{ account.extra_data.picture }}" alt="Profile Picture"  class="profile-pic dropdown-toggle" data-bs-toggle="dropdown">        
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'askme:itineraries' %}">My Itineraries</a></li>
                            <li><a class="dropdown-item" href="{% url 'askme:foodRecommendations' %}">My Food Recommendations</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

  {% else %}
        
  {% endif %}

  <div class="container">

    <div class="container text-center">
      <h1><b>Travel Buddy</b></h1>
      <h2>Your Food Recommendations</h2>
    </div>

    <br>

    <div class="container text-justify">

      {% if none %}
      <div class="container" style="overflow-y: scroll;">
        <div class="text-center">
          <b>No Recommendations yet</b>
        </div>
      </div>
      {% else %}
        <div class="container" style="overflow-y: scroll;">
          <div class="row row-cols-1 row-cols-md-2 g-4">
              {% for place, heading, piti_id in itineraries %}
                  <div class="col">
                      <div class="card">
                          <div class="card-body">
                              <h5 class="card-title">{{ place|title }}</h5>
                              <p class="card-text">{{ heading }}</p>
                              <a href="{% url 'askme:goto_personal_food_section' piti_id %}" class="btn btn-dark">Go here</a>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
        </div>
      {% endif %}

    </div>

    <br>
    
  </div>

  
  
  <script src="{% static 'js/jsfile.js' %}"></script>
</body>
</html>