{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% include "askme/headers.html" %}
</head>
<body>


  {% include "askme/navbar.html" %}


  {% if user.is_authenticated %}

        {% if user.socialaccount_set.all %}
            {% for account in user.socialaccount_set.all %}
                {% if account.provider == "google" %}
                    {% if account.extra_data.picture %}
                    <div class="dropdown">
                        <img src="{{ account.extra_data.picture }}" alt="Profile Picture"  class="profile-pic dropdown-toggle" data-bs-toggle="dropdown">        
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'askme:itineraries' %}">My Itineraries</a></li>
                            <li><a class="dropdown-item" href="{% url 'askme:foodRecommendations' %}">My Food Recommendations</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        
  {% else %}
  {% endif %}


  <div class="container cont-center test">
    <div class="container cont-center">
      <div class="container text-center">
        <h1><b>Travel Buddy</b></h1>
        <h4>Your go-to travel assistant</h4>
      </div>


      <br>
      
      <div class="container border-nish text-center form-nish">
        <br>
        <form action="{% url 'askme:requestItinerary' %}" method="get" id="get_itinerary_form">
          {% csrf_token %}
  
          <div class="form-group">
            {{ form.place.errors }}
            {{ form.place }}
          </div>
          <br>
  
          <div class="form-group">
            {{ form.duration.errors }}
            {{ form.duration }}
          </div>
          <br>

          <p id="error_message" class="text-center small-text"></p>
  
          <div class="form-group">
            <input class="btn btn-dark" type="submit" value="Get Itinerary" id="submit_button" onclick="popup()">
          </div>
          <br>
          
        </form>
      </div>
      
      <br>
      <div class="container text-center">
        <span id="make-visible"></span>
      </div>

      <!-- USE THIS IN NEXT RELEASE -->
      <!-- <div class="container text-center">        
        <span>Checkout the most Trending destinations <a href="#">here</a></span>
      </div> -->

    </div>
    

  </div>


  <!-- FOOTER -->
  {% include "askme/footer.html" %}

  <div>
    
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Travel Buddy</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" id="modal-body">
                <p>Building Itinerary... may take upto 30sec</p>
              </div>
              <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Understood</button>
              </div> -->
          </div>
        </div>
    </div>
  </div>
  
  <script src="{% static 'js/jsfile.js' %}"></script>

  
</body>
</html>