{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name="description" content="Experience travel like never before with personalized itineraries and food recommendations crafted by AI - Join us today!">
  <meta name="keywords" content="Travel Buddy, thetravelbuddy.io, travel buddy, travelbuddy.io">
  <meta name="author" content="The Travel Buddy">
  <meta name="robots" content="Travel Buddy, thetravelbuddy.io, travel buddy, travelbuddy.io">
  <meta name="og:title" content="Travel Buddy">
  <meta name="og:description" content="Experience travel like never before with personalized itineraries and food recommendations crafted by AI - Join us today!">
  <meta name="twitter:card" content="Experience travel like never before with personalized itineraries and food recommendations crafted by ChatGPT - Join us today!">

  <title>Travel Buddy</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'logo.ico' %}"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <style>
    .profile-pic {
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
    }

    .dropdown {
      position: fixed;
      top: 4rem;
      right: 1rem;
      
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'askme:askme_mform' %}">Travel Buddy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'askme:askme_foodform' %}">Food Recommendations</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Trip Advisor</a>
          </li> -->

        </ul>
      </div>
    </div>
  </nav>


  {% if user.is_authenticated %}

        {% if user.socialaccount_set.all %}
            {% for account in user.socialaccount_set.all %}
                {% if account.provider == "google" %}
                    {% if account.extra_data.picture %}
                    <div class="dropdown">
                        <img src="{{ account.extra_data.picture }}" alt="Profile Picture"  class="profile-pic dropdown-toggle" data-bs-toggle="dropdown">        
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">My Itineraries</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

  {% else %}
        
  {% endif %}


  <div class="container cont-center test">
    <div class="row container text-center">
        <h1><b>Travel Buddy</b></h1>
        <!-- <span><b>Your personal travel assistant</b></span> -->
        <!-- <span><b>Let Travel Buddy take the guesswork out of planning your trip</b></span> -->
        <!-- <span><b>Let's take the guesswork out of planning your trip with Travel Buddy's itinerary generator</b></span> -->
        <span><b>Your Itineraries</b></span>
    </div>
    <div class="container cont-center">
      


      <br>
      <!-- <div class="container text-center">
        <form action="" method="post">
          {% csrf_token %}
          {{ form }}
          <br>
          <input type="submit" value="Submit">
          <input type="submit"
          onclick="window.location='{% url 'askme:askme_mform' %}' ; return false;"
          value="Cancel">
        </form>
      </div> -->
      {% for iti in itineraries %}
        <div class="container border-nish text-center form-nish">
            <br>
            <a href="{% url 'askme:single_itinerary' iti.id %}">
                <p>{{ iti.search_place|title }} itinerary for {{ iti.search_duration }}-days</p>
            </a>
            <br>
        </div>
        <br>
      {% endfor %}

      <div class="container text-center">
        <span id="make-visible"></span>
      </div>

      <!-- USE THIS IN NEXT RELEASE -->
      <!-- <div class="container text-center">        
        <span>Checkout the most Trending destinations <a href="{% url 'askme:most_searched' %}">here</a></span>
      </div> -->

    </div>

    <!-- <div class="container text-center">
      <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
            <br>
        {% endfor %}
        <br>
        <input type="submit" value="Submit">
        <input type="submit"
        onclick="window.location='{% url 'askme:askme_mform' %}' ; return false;"
        value="Cancel">
      </form>
    </div> -->
    
    
    <div class="row container text-center footer-nish">
      <!-- <span>Let Travel Buddy take the guesswork out of planning your trip</span> -->
      <span>Explore the world like a local with Travel Buddy</span>
      <br>
      <span>
        <a href="mailto:thetravelbuddy.io@gmail.com?subject=Travel%20Buddy%20Feedback" class="icon-class">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
          </svg>
        </a>
      </span>
      <!-- <span>Say goodbye to travel planning stress with Travel Buddy</span> -->
    </div>
    

  </div>

  
  
  <script src="{% static 'js/jsfile.js' %}"></script>
</body>
</html>