{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% include "askme/headers.html" %}
</head>
<body>
  <div class="container border test">
    <div class="container center-nish">
        <div class="container text-center">
            <h1><b>Travel Buddy</b></h1>
          </div>
          
          <div class="container text-center">
            <form action="" method="post">
              {% csrf_token %}
              <label for="place">Enter the place</label><br>
              <input type="text" name="place" id="place"><br>
              <label for="duration">Enter the duration</label><br>
              <input type="number" name="duration" id="duration"><br><br>
              <!-- <input type="submit" value="Submit"><br><br> -->
              <button type="submit" class="btn fifth" id="submit-button">Button 5</button>
          </form>
        </div>
    </div>
    

    <div class="container text-center footer-nish">
        <h1><b>Travel Buddy</b></h1>
      </div>
    
  </div>
  <script>
    const charField = document.getElementById('place');
    const intField = document.getElementById('duration');
    const submitButton = document.getElementById('submit-button');

    charField.addEventListener('input', () => {
    if (charField.checkValidity() && intField.checkValidity()) {
        submitButton.disabled = false;
    } else {
        submitButton.disabled = true;
    }
    });

    intField.addEventListener('input', () => {
    if (charField.checkValidity() && intField.checkValidity()) {
        submitButton.disabled = false;
    } else {
        submitButton.disabled = true;
    }
    });
  </script>

  
</body>
</html>