{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% include "askme/headers.html" %}
</head>
<body>

    {% include "askme/navbar.html" %}
    

    {% if data %}
    <div class="container">
        <div class="container text-center">
            <h1><b>Travel Buddy</b></h1>
        </div>
        {% if heading %}
            <div class="container text-center">
                <h2><b>{{ heading }}</b></h2>
            </div>
        {% endif %}
        <div class="container text-justify">
            <div class="row">
                <div class="col">
                    <ul>
                        {% for i in data %}
                        <li><a href="{% url 'askme:place_view' place_name=i.stat_place %}">{{ i.stat_place|title }}</a>, searched by {{ i.total }} users</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>           
            
    {% else %}
    {% endif %}
    </div>


    <script src="{% static 'js/jsfile.js' %}"></script>
</body>
</html>

