{% load socialaccount %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'askme:home' %}">Travel Buddy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'askme:food' %}">Food Recommendations</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Trip Advisor</a>
            </li> -->

            </ul>
            <div class="ms-auto"> <!-- Added ms-auto to float the button to the right -->
            <a href="{% provider_login_url 'google' %}"><button type="button" class="btn btn-dark">Sign In</button></a>
            </div>
        </div>
    </div>
</nav>