{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% include "askme/headers.html" %}
</head>
<body>
    
    {% include "askme/navbar.html" %}
    
    {% if user.is_authenticated %}

        {% if user.socialaccount_set.all %}
            {% for account in user.socialaccount_set.all %}
                {% if account.provider == "google" %}
                    {% if account.extra_data.picture %}
                    <div class="dropdown">
                        <img src="{{ account.extra_data.picture }}" alt="Profile Picture"  class="profile-pic dropdown-toggle" data-bs-toggle="dropdown">        
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'askme:itineraries' %}">My Itineraries</a></li>
                            <li><a class="dropdown-item" href="{% url 'askme:foodRecommendations' %}">My Food Recommendations</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

    {% else %}
        
    {% endif %}




    
    
    {% if data %}
    <div class="container">
        <div class="container text-center">
            <h1><b>Travel Buddy</b></h1>
        </div>


        <div class="container text-justify itinerary-box">

            {% for heading, food in data.items %}
                
                <div id="{{forloop.counter}}">

                    <div class="container text-center">
                        <h2><b>{{ heading }}</b></h2>
                    </div>

                    <div class="row">
                        <div class="col">
                            {% autoescape off %}
                            {{ food|linebreaks }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>


            {% endfor %}

            <br>

            
            <!-- COPY TO CLIPBOARD JS section IMP -->
            <div class="row">
                <span>
                    <a onclick="copyToClipboard('{{base_url}}')" href="#" class="icon-class">
                        Do share it with your family and friends
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                            <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
                        </svg>
                    </a>
                </span>
            </div>
            
            <br>


            {% if user.is_authenticated %}

                <!-- <b>{{user}} is AUTHENTICATED</b -->

                <span>Provide me an input of what kind of food you would like to eat!</span>
                <form action="{% url 'askme:food_interact' place iti_id %}" method="get">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" id="personalize_prompt" name="personalize_prompt" class="form-control" placeholder="Ex: suggest vegetarian food" aria-label="Ex: suggest vegetarian food" aria-describedby="button-addon2">
                        <input class="btn btn-outline-secondary text-white btn-dark" type="submit" value="Go" id="button-addon2 submit_button" onclick="popup()">
                    </div>
                </form>

            {% else %}
                
                <div class="row">
                    <div class="col">
                        <div class="alert alert-light" role="alert">
                            Sign-in with <a href="{% provider_login_url 'google' %}?next={% url 'askme:createPID' iti_id=iti_id %}">Google</a> for Premium services like <b>Saving Itineraries</b> and <b>Personalization</b>
                        </div>
                    </div>
                </div>
                
                <br>
            {% endif %}

            <div class="row">
                <div class="col">
                    <input type="submit"
                onclick="window.location='{% url 'askme:food' %}' ; return false;"
                value="Search Again" class="btn btn-dark">
                </div>
            </div>

            <br>
            
        </div>
        
        
                    
            
    {% else %}
    {% endif %}
    </div>

    <br>

    <div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Travel Buddy</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" id="modal-body">
                    <p>Building you a Personal Itinerary... may take upto 30sec</p>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div>
        <!-- Modal for Food Popup -->
        <div class="modal fade" id="foodModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="foodModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="foodModalLabel">Food Recommendations</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="foodModalBody">
                        <p>Loading food recommendations... may take upto 20sec</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    

    <!-- COPY TO CLIPBOARD JS FILE IMP -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="{% static 'js/jsfile.js' %}"></script>

    <script src="{% static 'js/foodjs.js' %}"></script>
</body>
</html>

