{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% include "askme/headers.html" %}
</head>
<body>
  
  {% include "askme/navbar.html" %}


  {% if user.is_authenticated %}

        {% if user.socialaccount_set.all %}
            {% for account in user.socialaccount_set.all %}
                {% if account.provider == "google" %}
                    {% if account.extra_data.picture %}
                    <div class="dropdown">
                        <img src="{{ account.extra_data.picture }}" alt="Profile Picture"  class="profile-pic dropdown-toggle" data-bs-toggle="dropdown">        
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'askme:itineraries' %}">My Itineraries</a></li>
                            <li><a class="dropdown-item" href="{% url 'askme:foodRecommendations' %}">My Food Recommendations</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

  {% else %}
        
  {% endif %}





  <div class="container cont-center test">
    <div class="container cont-center">
      <div class="container text-center">
        <h1><b>Travel Buddy</b></h1>
        <!-- <span><b>Your personal travel assistant</b></span> -->
        <!-- <span><b>Let Travel Buddy take the guesswork out of planning your trip</b></span> -->
        <!-- <span><b>Let's take the guesswork out of planning your trip with Travel Buddy's itinerary generator</b></span> -->
        <h4>Get Food Recommendations</h4>
      </div>


      <br>
      <!-- <div class="container text-center">
        <form action="" method="post">
          {% csrf_token %}
          {{ form }}
          <br>
          <input type="submit" value="Submit">
          <input type="submit"
          onclick="window.location='#' ; return false;"
          value="Cancel">
        </form>
      </div> -->
      
      <div class="container border-nish text-center form-nish">
        <br>
        <form action="{% url 'askme:requestPersonalFood' %}" method="get" id="get_food_rec_form">
          {% csrf_token %}
  
          <div class="form-group">
            {{ form.food_place.errors }}
            {{ form.food_place }}
          </div>
          <br>
          <br>

          <p id="error_message" class="text-center small-text"></p>
  
          <div class="form-group">
            <input class="btn btn-dark" type="submit" value="Get Recommendations" id="food_submit_button" onclick="popup()">
          </div>
          <br>
          <!-- <input type="submit"
          onclick="window.location='#' ; return false;"
          value="Cancel"> -->
        </form>
      </div>
      
      <br>
      <div class="container text-center">
        <span id="make-food-visible"></span>
      </div>
    
      <!-- USE THIS IN NEXT VERSION -->
      <!-- <div class="container text-center">        
        <span>Checkout the most Trending destinations <a href="#">here</a></span>
      </div> -->

    </div>

    <!-- <div class="container text-center">
      <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
            <br>
        {% endfor %}
        <br>
        <input type="submit" value="Submit">
        <input type="submit"
        onclick="window.location='#' ; return false;"
        value="Cancel">
      </form>
    </div> -->
    
  </div>
  
  <!-- FOOTER -->
  {% include "askme/footer.html" %}


  <div>
    
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Travel Buddy</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-body">
                  <p>Getting Food Recommendations... may take upto 20sec</p>
                </div>
                <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
                </div> -->
            </div>
          </div>
      </div>
  </div>

  
  
  <script src="{% static 'js/foodjs.js' %}"></script>
  <script src="{% static 'js/jsfile.js' %}"></script>
</body>
</html>