{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Travel Buddy</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
    {% if data %}
    <div class="container">
        <div class="container text-center">
            <h1><b>Travel Buddy</b></h1>
        </div>
        {% if heading %}
            <div class="container text-center">
                <h2><b>{{ heading }}</b></h2>
            </div>
        {% endif %}
        <div class="container text-justify">
            <div class="row">
                <div class="col">
                    {% autoescape off %}
                    {{ data|linebreaks }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
        
        <br>
        <input type="submit"
            onclick="window.location='{% url 'askme:askme_mform' %}' ; return false;"
            value="Search Again" class="btn btn-dark">
            <br>
            <br>
            {% if heading %}
                {% if extra_button %}
                    <form action="{% url 'askme:askme_again' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ place }}" name="again_place" id="again_place">
                        <input type="hidden" value="{{ duration }}" name="again_duration" id="again_duration">
                        <span>
                            Didn't like it?
                            <input type="submit" value="Get another itinerary" class="btn btn-dark" onclick="startTyping()">
                        </span>
                    </form>

                    <br>

                    <div class="container">
                        <span id="make-visible"></span>
                    </div>
                    
                    <br>
                    
                    <form action="{% url 'askme:askme_food' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ place }}" name="food_place" id="food_place">
                        <p>
                            <input type="submit" src value="Get Food Recommendations" class="btn btn-dark" onclick="startFoodTyping()">
                        </p>
                    </form>
                {% endif %}
            {% endif %}
            <br>
        {% else %}
        {% endif %}
    </div>


    <script src="{% static 'js/jsfile.js' %}"></script>
</body>
</html>

