{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% include "askme/headers.html" %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'askme:home' %}">Travel Buddy</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'askme:food' %}">Food Recommendations</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Trip Advisor</a>
              </li> -->
    
            </ul>
          </div>
        </div>
    </nav>
    
    {% if user.is_authenticated %}

        {% if user.socialaccount_set.all %}
            {% for account in user.socialaccount_set.all %}
                {% if account.provider == "google" %}
                    {% if account.extra_data.picture %}
                    <div class="dropdown">
                        <img src="{{ account.extra_data.picture }}" alt="Profile Picture"  class="profile-pic dropdown-toggle" data-bs-toggle="dropdown">        
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'askme:itineraries' %}">My Itineraries</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

    {% else %}
        
    {% endif %}




    
    
    {% if data %}
    <div class="container">
        <div class="container text-center">
            <h1><b>Travel Buddy</b></h1>
        </div>
        

            <!-- UNCOMMENT FOR FLIGHTS -->
        <!-- <div class="container text-center">
            <form id="location-form" method="POST" action="#">
                {% csrf_token %}
                <input type="hidden" name="latitude" id="latitude-input" value="">
                <input type="hidden" name="longitude" id="longitude-input" value="">
                <input type="hidden" name="destination" id="longitude-input" value="{{ place }}">
            </form> -->

            
            <!-- UNCOMMENT FOR FLIGHTS -->
            <!-- <p>Let's start your trip by booking <a id="location-link" href="#">Flights</a> and <a href="#" target="_blank">Hotels</a> at {{place}}</p> -->
        <!-- </div> -->

        <!-- UNCOMMENT FOR FLIGHTS -->
        <!-- <script>
            function getLocation() {
              if (window.navigator.geolocation) {
                // Geolocation available
                window.navigator.geolocation.getCurrentPosition(
                  function(position) {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;
                    const latitudeInput = document.getElementById('latitude-input');
                    const longitudeInput = document.getElementById('longitude-input');
                    latitudeInput.value = latitude;
                    longitudeInput.value = longitude;
                    document.getElementById('location-form').submit();
                  },
                  console.log
                );
              }
            }
            
          
            document.getElementById('location-link').addEventListener('click', getLocation);   
        </script> -->




        <div class="container text-justify itinerary-box">

            {% for heading, iti in data.items %}
                
                <div id="{{forloop.counter}}">

                    <div class="container text-center">
                        <h2><b>{{ heading }}</b></h2>
                    </div>
            
                    <div class="container text-center">
                        <p>Let's start your trip by booking <a href="{% url 'askme:hotel' place %}" target="_blank">Hotels</a> at {{place}}</p>
                    </div>

                    <div class="row">
                        <div class="col">
                            {% autoescape off %}
                            {{ iti|linebreaks }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>


            {% endfor %}

            <br>

            <div class="row">
                <div class="col">
                    <form action="{% url 'askme:getFoodfromItinerary' place %}">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input class="btn btn-dark" type="submit" value="Get Food Recommendations for {{place}}" onclick="food_popup()">
                        </div>
                    </form>
                </div>
            </div>

            
            <!-- COPY TO CLIPBOARD JS section IMP -->
            <div class="row">
                <span>
                    <a onclick="copyToClipboard('{{base_url}}')" href="#" class="icon-class">
                        Do share it with your family and friends
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                            <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
                        </svg>
                    </a>
                </span>
            </div>
            
            <br>


            {% if user.is_authenticated %}

                <!-- <b>{{user}} is AUTHENTICATED</b -->

                <span>With a short description of your needs I can personalise your Itinerary in no time </span>
                <form action="{% url 'askme:interact' place duration iti_id %}" method="get">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" id="personalize_prompt" name="personalize_prompt" class="form-control" placeholder="Ex: make my trip adventurous" aria-label="Ex: make my trip adventurous" aria-describedby="button-addon2">
                        <input class="btn btn-outline-secondary text-white btn-dark" type="submit" value="Go" id="button-addon2 submit_button" onclick="popup()">
                    </div>
                </form>

            {% else %}
                
                <div class="row">
                    <div class="col">
                        <p>Sign-up with <a href="{% provider_login_url 'google' %}?next={% url 'askme:createPID' iti_id=iti_id %}">Google</a> for Premium services like Personalization</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <input type="submit"
                            onclick="window.location='{% url 'askme:home' %}' ; return false;"
                            value="Search Again" class="btn btn-dark">
                    </div>
                </div>
                
                <br>
            {% endif %}

            <br>
            
        </div>
        
        
                    
            
    {% else %}
    {% endif %}
    </div>

    <br>

    <div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Travel Buddy</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" id="modal-body">
                    <p>Building you a Personal Itinerary... may take upto 30sec</p>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div>
        <!-- Modal for Food Popup -->
        <div class="modal fade" id="foodModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="foodModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="foodModalLabel">Food Recommendations</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="foodModalBody">
                        <p>Loading food recommendations... may take upto 20sec</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    

    <!-- COPY TO CLIPBOARD JS FILE IMP -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="{% static 'js/jsfile.js' %}"></script>

    <script>
        
    </script>
</body>
</html>

