{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% include "askme/headers.html" %}
</head>
<body>
    {% include "askme/navbar.html" %}
    
    {% if user.is_authenticated %}

        {% if user.socialaccount_set.all %}
            {% for account in user.socialaccount_set.all %}
                {% if account.provider == "google" %}
                    {% if account.extra_data.picture %}
                    <div class="dropdown">
                        <img src="{{ account.extra_data.picture }}" alt="Profile Picture"  class="profile-pic dropdown-toggle" data-bs-toggle="dropdown">        
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'askme:itineraries' %}">My Itineraries</a></li>
                            <li><a class="dropdown-item" href="{% url 'askme:foodRecommendations' %}">My Food Recommendations</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

    {% else %}
        
    {% endif %}




    
    
    <div class="container">
        <div class="container text-center">
            <h1><b>Travel Buddy</b></h1>
        </div>
        
        <div class="container text-justify">
            <div class="row">
                <div class="col">
                    {% autoescape off %}
                    {{ itinerary.search_query|linebreaks }}
                    {% endautoescape %}
                </div>
            </div>

            <br>
            
            <br>
            <input type="submit"
                onclick="window.location='{% url 'askme:askme_mform' %}' ; return false;"
                value="Search Again" class="btn btn-dark">
                <br>
                <br>

        </div>
        
    </div>


    <script src="{% static 'js/jsfile.js' %}"></script>
</body>
</html>

